:root {
  --grid-gutter: 20px;
}

/**
 * Grid
 */

.Grid {
  display: flex;
  flex-wrap: wrap;
}

/* With gutter */

.Grid.-gutter {
  margin-top: -var(--grid-gutter);
  margin-left: -var(--grid-gutter);
}

.Grid.-gutter > .Grid__cell {
  padding-top: var(--grid-gutter);
  padding-left: var(--grid-gutter);
}

/* Justify per row */

.Grid.-left {
  justify-content: flex-start;
}

.Grid.-center {
  justify-content: center;
}

.Grid.-right {
  justify-content: flex-end;
}

/* Alignment per row */

.Grid.-top {
  align-items: flex-start;
}

.Grid.-middle {
  align-items: center;
}

.Grid.-bottom {
  align-items: flex-end;
}

/**
 * Grid cell
 */

.Grid__cell {
  box-sizing: border-box;
  min-width: 1px; /* for multi-lines */
}

/* Fill remaining width */

.Grid__cell.-fill {
  flex: 1;
}

/* Proportional widths */

.Grid__cell.\-1of12 {
  width: calc(100% * 1 / 12);
}

.Grid__cell.\-2of12 {
  width: calc(100% * 2 / 12);
}

.Grid__cell.\-3of12 {
  width: calc(100% * 3 / 12);
}

.Grid__cell.\-4of12 {
  width: calc(100% * 4 / 12);
}

.Grid__cell.\-5of12 {
  width: calc(100% * 5 / 12);
}

.Grid__cell.\-6of12 {
  width: calc(100% * 6 / 12);
}

.Grid__cell.\-7of12 {
  width: calc(100% * 7 / 12);
}

.Grid__cell.\-8of12 {
  width: calc(100% * 8 / 12);
}

.Grid__cell.\-9of12 {
  width: calc(100% * 9 / 12);
}

.Grid__cell.\-10of12 {
  width: calc(100% * 10 / 12);
}

.Grid__cell.\-11of12 {
  width: calc(100% * 11 / 12);
}

.Grid__cell.\-12of12,
.Grid__cell.-full {
  width: 100%;
}

/* Reorder */

.Grid__cell.-first {
  order: -1;
}

.Grid__cell.-last {
  order: 1;
}
